/* Практическое задание №1 */
.hometask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hometask__title {
    font-weight: bold;
    color: rgb(58, 58, 194);
}

.fullname,
.countdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fullname__desc,
.countdown__desc {
    margin: 0;
}

.fullname__input {
    min-width: 350px;
}

.fullname__convert,
.countdown__button {
    max-width: min-content;
    align-self: center;
}

.firstname,
.lastname,
.middlename {
    display: flex;
    flex-direction: row;
    gap: 10px;
}